{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/authorization.css' ) }}">
{% endblock %}

{% block body %}
    <div class="login-page">
        <div class="form">
            <form action="{{  path('login') }}" method="post" class="login-form">

                <input type="text" placeholder="username" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                <input type="password" placeholder="password" id="password" name="_password" class="form-control"/>

                <button type="submit" name="login" class="btn btn-primary btn-block">Sign in</button>

                <input type="hidden" name="_target_path" value="/main" />
            </form>
            <a href="{{ path('user_registration') }}"><button class="btn btn-primary btn-block">Registration</button></a>
        </div>
    </div>
{% endblock %}


