{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/authorization.css' ) }}">
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="login-page">
    <div class="form">
        {{ form_start(form) }}
            {{ form_row(form.username, {label_attr: {class: 'label'}}) }}
            {{ form_row(form.email, {label_attr: {class: 'label'}}) }}
            {{ form_row(form.password.first, {label_attr: {class: 'label'}}) }}
            {{ form_row(form.password.second, {label_attr: {class: 'label'}}) }}
            <button type="submit" id="registration" class="btn btn-primary btn-block">Register!</button>
        {{ form_end(form) }}
        <a href="{{ path('login') }}"><button id="return"class="btn btn-primary btn-block">Return</button></a>
    </div>
</div>





{% endblock %}