<form method="post" action="{{ path('team_delete', {'id': team.id}) }}" onsubmit="return confirm('Are you sure to delete?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team.id) }}">
    <button class="btn btn-dark" id="przycisk">Delete</button>
</form>
{% block stylesheets %}
    <style>
        #przycisk{
            margin-left: 35%;
            float:left;
            margin-top:1em;
        }
        @media all and (max-width: 650px)
        {
            #przycisk{
                margin-left: 2em;
            }
        }

    </style>
{% endblock  %}