{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/editTeam.css' ) }}">
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>Edition team</h1>
    {{ include('teams/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('teams/_delete_form.html.twig') }}

    <a href="{{ path('team_index') }}"><button class="btn btn-dark" id="comeback">Return to list</button></a>

{% endblock %}


