{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/indexTeam.css' ) }}">
{% endblock %}

{% block body %}

    <nav id="navigation" class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
        <ul class="navbar-nav">
            <li><a class="nav-link"  href="/organiser" id="size">Concerts</a></li>
            <li><a class="nav-link"  href="/organiser/musicians/" id="size">Musicians</a></li>
        </ul>
    </nav>
    <h1>List of teams</h1>


    <table class="blueTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Members</th>
            <th>Food</th>
            <th>Cost</th>
            <th>Stay</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for team in team %}
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.members }}</td>
                <td>{{ team.food }}</td>
                <td>{{ team.cost }}</td>
                <td>{{ team.stay }}</td>
                <td>
                    <ul>
                        <li class="mobile">
                            <a href="{{ path('team_edit', { 'id': team.id }) }}" >
                                <button class="btn btn-primary" id="edit" >Edit</button>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center" id="paginator">
        {{ knp_pagination_render(team) }}
    </div>

    <ul>
        <li class="mobile">
            <a href="{{ path('team_new') }}" >
                <button class="btn btn-primary">Create new team</button>
            </a>
        </li>
    </ul>




{% endblock %}

