* {
    margin: 0;
    padding: 0;
}
body {
    font: 100% normal Arial, Helvetica, sans-serif;
    background: cadetblue;
}
form, input, select, textarea {
    margin:0;
    padding:0;
    color:#ffffff;

}

#contact {
    margin:0 auto;
    width:500px;
    background:#222222;
    position:relative;
    top:50px;
    border:1px solid #262626;
}

h1 {
    color:#ffffff;
    font-size: 2em;
    text-transform:uppercase;
    padding:5px 0 5px 5px;
    border-bottom:1px solid #161712;
    border-top:1px solid #161712;
    text-align: center;
    font-family: Arial;
}

#contact div {
    width:100%;
    display: block;
    background:#1C1C1C;
    border-bottom:1px solid #161712;
    padding:10px 0 10px 0;

}
#contact div label{
    display: block;
    color:#bbbbbb;
    font-size:16px;
    text-align:center;
}


select
{

    padding:10px 10px;
    width:200px;
    background:#262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left:1px double #333333;
    border-right:1px double #333333;
}



ul {
    list-style-type: none;
}
button,input{
    margin:0em 0.3em 0.3em 0;
    box-sizing: border-box;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;

}

#contact_save{
    margin-left:20%;
}
#contact_comeback {
    margin-left: 55%;
    margin-top: -1.3em;
}

.flash-notice
{
    width:500px;
    border-style:dotted;
    text-align: center;
    margin: 20px auto;
    font-size: 20px;
}

@media all and (max-width:480px) {
    #contact_save{
        margin-left:100px;

    }
    #contact_comeback
    {
        margin-left:280px;

    }
    .flash-notice
    {
        width:100%;
    }
    #contact
    {
        width:100%;
    }

}
@media all and (max-width:380px) {
    #contact_save{
        margin-left:20px;

    }
    #contact_comeback
    {
        margin-left:190px;

    }
}
