body {
    background: cadetblue;
    font-size: 14pt;
}
table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.blueTable tbody td {
    font-size: 14px;
    word-wrap:break-word;
}
table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
}
table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}
table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
    border-left: none;
}
#navigation {
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
}
#navigation ul {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
}

#navigation ul li a {
    height: inherit;
    padding: 0 25px;
    display: inline-block;
    transition: all 150ms ease;
    line-height: inherit;
    text-transform: uppercase;

}
#navigation ul li a:hover {
    background: #00b6e3;
    color: #fff;
}
h1{
    text-align: center;
    font-family: Arial;
    font-size: 2em;
}
ul {
    list-style-type: none;
}

button{
    margin-top:10px;
}

#paginator{
    float:right;
    margin-top:1%;
}
#comeback{
    float:left;
}
#size{
    font-size: 20pt;
}
.sortable:hover, .sortable:visited, .sortable:active, .sortable:link{
    color:#FFFFFF;
    text-decoration: none;
}
.asc:hover, .asc:visited, .asc:active, .asc:link{
    color:#FFFFFF;
    text-decoration: none;
}
.desc:hover, .desc:visited, .desc:active, .desc:link{
    color: #FFFFFF;
    text-decoration: none;
}

@media all and (max-width:30em){
     button {
        display: block;
        margin: 0.4em auto;
    }
}

@media all and (max-width: 440px)
{
    #navigation{
        height:120px;
    }
    #mobile{
        margin-left:-40px ;
    }

}