body {
    background: #565656;
    font-size: 10pt;
}

a {
    color: #00b6e3;
    font-weight: 700;
    text-decoration: none;
}

#header {
    position: relative;
    width: 100%;
    height: 150px;
    background: #00b6e3;
    display: table;
}
#header h1 {
    display: table-cell;
    vertical-align: middle;
    font-size: 30pt;
    color: #fff;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

#navigation {
    position: relative;
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    text-align: center;
    line-height: 50px;
}
#navigation ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#navigation ul li{
    list-style-type: none;
}
#navigation ul li a {
    height: inherit;
    padding: 0 25px;
    display: inline-block;
    transition: all 150ms ease;
    line-height: inherit;
    text-transform: uppercase;

}
#navigation ul li a:hover {
    background: #00b6e3;
    color: #fff;
}

#navigation > ul > #rozwijane {
    float:left;
}


#navigation  > ul > #rozwijane > a {
    display:block;
    text-align:center;
    color: #00b6e3;
}


#navigation  > ul > #rozwijane:hover > a {
    color:#fff;
    background: #00b6e3;
}


#navigation  > ul > #rozwijane {
    position:relative;
}


#navigation  >  ul > #rozwijane > ul {
    width:100%;
    display:none;
    position:absolute;
    z-index:1;
    margin:0;
    padding:0;
    list-style-type:none;
    background-color:#fff;
}


#navigation  > ul > #rozwijane:hover > ul {
    display:block;
}


#navigation > ul > #rozwijane > ul > li {
    box-shadow:0 -4px 4px -4px #AAA;
}


#navigation  > ul > #rozwijane > ul > li:first-child {
    box-shadow:none;
}


#navigation  > ul > #rozwijane > ul > li:last-child {
    box-shadow:0 -4px 4px -4px #AAA, 0 4px 4px -4px #AAA;
}


#navigation  > ul > #rozwijane > ul > li > a {
    display:block;
    padding:15px;
    color:#00b6e3;
}


#navigation  > ul > #rozwijane > ul > li:hover > a {
    color: #fff;
    background-color: #00b6e3;
}
.photo{
    margin-left:10px;
}

@media all and (max-width: 720px) {
    #navigation {
        height: 100px;
    }
}
@media all and (max-width: 410px)
{
    #navigation{
        height:200px;
    }
}
