body {
    font: 100% normal Arial, Helvetica, sans-serif;
    background: cadetblue;
}
form, input, select, textarea {
    color:#ffffff;

}

#appbundle_concerts {
    margin:0 auto;
    width:500px;
    background:#222222;
    position:relative;
    top:50px;
    border:1px solid #262626;
}

h1 {
    color:#ffffff;
    font-size: 2em;
    text-transform:uppercase;
    padding:5px 0 5px 5px;
    border-bottom:1px solid #161712;
    border-top:1px solid #161712;
    text-align: center;
    font-family: Arial;
}

#appbundle_concerts div {
    width:100%;
    display: block;
    background:#1C1C1C;
    border-bottom:1px solid #161712;
    padding:10px 0 10px 0;

}
#appbundle_concerts div label,#appbundle_concerts fieldset legend{
    display: block;
    color:#bbbbbb;
    font-size:16px;
    text-align:center;

}

select
{
    margin-left:3px;
}

ul {
    list-style-type: none;
}
button{
    margin-left:1em;
}

#input
{
    margin: 60px 1em 0.3em 40% ;
    float:left;
}
#comeback{
    float:left;
    margin-top: 60px;
}

@media all and (max-width: 420px)
{
    #comeback{
        margin: 10px 1em 0.3em 40% ;
    }
    #appbundle_concerts {
        width:100%;
    }
}