
body {
    font: 100% normal Arial, Helvetica, sans-serif;
    background: cadetblue;;
}
form, input, select, textarea {
    color:#ffffff;
}

#team {
    margin:0 auto;
    width:500px;
    background:#222222;
    position:relative;
    top:50px;
    border:1px solid #262626;
}

h1 {
    color:#ffffff;
    font-size: 2em;
    text-transform:uppercase;
    padding:5px 0 5px 5px;
    border-bottom:1px solid #161712;
    border-top:1px solid #161712;
    text-align: center;
    font-family: Arial;
}

#team div {
    width:100%;
    display: block;
    background:#1C1C1C;
    border-bottom:1px solid #161712;
    padding:10px 0 10px 0;

}
#team div label{
    display: block;
    color:#bbbbbb;
    font-size:16px;
    text-align:center;
}

button{
    margin-left:1em;
}
button:active{
    top:0.1em;
}
.przycisk{
    margin: 60px 0.3em 0.3em 5%;
}
#input
{
    margin: 60px 1em 0.3em 40% ;
    float:left;
}
#comeback{
    float:left;
    margin-top: 60px;
}
@media all and (max-width: 420px)
{
    #comeback{
        margin: 10px 1em 0.3em 40% ;
    }
    #team{
        width:100%;
    }
}
