h1{
    text-transform: uppercase;
    text-align: center;
    font-family: Arial;
    font-size: 2em;
}
body {
    background: cadetblue;
    font-size: 14pt;

}
table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 400px;
    text-align: left;
    border-collapse: collapse;
    margin:auto;
}
table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.blueTable tbody td {
    font-size: 14px;
    word-wrap:break-word;
}
table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
}
table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}
table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
    border-left: none;
}
button{
    margin-top: 2em;
}
#vote{
    margin:0;
}
#div{
    text-align: center;
}

@media all and (max-width:30em){
    button {
        display: block;
        margin: 0.4em auto;
    }
}
@media all and (max-width:400px){
    table.blueTable{
        width: 250px;
    }
}