<form method="post" action="{{ path('concerts_delete', {'id': concert.id}) }}" onsubmit="return confirm('Are you sure to delete?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ concert.id) }}">
    <button class="btn btn-dark" id="przycisk" >Delete</button>
</form>
{% block stylesheets %}
<style>
#przycisk{
    margin-left: 35%;
    margin-top: 1em;
    float:left;
}
@media all and (max-width: 650px)
{
    #przycisk{
        margin-left: 2em;
    }
}

</style>
{% endblock  %}