{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/indexConcert.css' ) }}">
{% endblock %}

{% block body %}

    <nav id="navigation" class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
        <ul class="navbar-nav">
            <li><a class="nav-link"  href="/organiser" id="size">Concerts</a></li>
            <li><a class="nav-link"  href="/organiser/musicians/" id="size">Musicians</a></li>
        </ul>
    </nav>
    <h1>List of concerts</h1>


    <table class="blueTable">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(concert, 'Name', 'name') }}</th>
            <th>{{ knp_pagination_sortable(concert, 'City', 'city') }}</th>
            <th>{{ knp_pagination_sortable(concert, 'Time', 'time') }}</th>
            <th>{{ knp_pagination_sortable(concert, 'Description', 'description') }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for concert in concert %}
            <tr>
                <td>{{ concert.name }}</td>
                <td>{{ concert.city }}</td>
                <td>{% if concert.time %}{{ concert.time|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ concert.description }}</td>
                <td>
                    <ul>
                        <li id="mobile">
                            <a href="{{ path('concerts_show', { 'id': concert.id }) }}" >
                                <button class="btn btn-primary">Details</button>
                            </a>
                        </li>
                        <li id="mobile">
                            <a href="{{ path('concerts_edit', { 'id': concert.id }) }}" >
                                <button class="btn btn-primary">Edit</button>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center" id="paginator">
        {{ knp_pagination_render(concert) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('concerts_new') }}" >
                <button class="btn btn-primary">Create new concert</button>
            </a>
        </li>
        <li>
            <a href="{{ path('main') }}" id="comeback">
                <button class="btn btn-primary">Return to main page</button>
            </a>
        </li>
    </ul>




{% endblock %}

