{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/newConcert.css' ) }}">
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>Create concert</h1>

    {{  include('concerts/_form.html.twig') }}


    <a href="{{ path('concerts_index') }}"><button  class="btn  btn-dark" id="comeback">Return to list</button></a>

{% endblock %}
