{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/showUser.css' ) }}">
{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Teams</h1>


    <table class="blueTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Members</th>
            <th>Food</th>
            <th>Earnings</th>
            <th>Place of stay</th>
            <th>Actions (Voting)</th>
        </tr>
        </thead>
        <tbody>
        {% for team in concert %}
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.members }}</td>
                <td>{{ team.food }}</td>
                <td>{{ team.cost }}</td>
                <td>{{ team.stay }}</td>
                <td>
                    <ul>
                        <li id="mobile">
                            <a href="{{ path('concertsuser_voted', { 'id': team.id , 'idConcert':  id }) }}" >
                                <button id="voted" class="btn btn-primary" >Result </button>
                            </a>
                        </li>
                        <li id="mobile">
                            <a href="{{ path('concertsuser_vote', { 'id': team.id , 'idConcert':  id }) }}" >
                                <button id="vote" class="btn btn-primary">Vote </button>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <ul>

        <a href="{{ path('concertsuser_index') }}"><button class="btn btn-primary" id="return">Return to list</button></a>


    </ul>

    <script>
        setTimeout(function() {
            $(".flash-notice").fadeOut().empty();
        }, 4000);
    </script>

{% endblock %}



