{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/showConcert.css' ) }}">
{% endblock %}

{% block body %}

    <h1>Teams</h1>



    <table class="blueTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Members</th>
            <th>Food</th>
            <th>Earnings</th>
            <th>Place of stay</th>
        </tr>
        </thead>
        <tbody>
        {% for team in concert %}
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.members }}</td>
                <td>{{ team.food }}</td>
                <td>{{ team.cost }}</td>
                <td>{{ team.stay }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <a href="{{ path('concerts_index') }}"><button class="btn btn-primary">Return to list</button></a>
    </ul>
{% endblock %}




