{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/vote.css' ) }}">
{% endblock %}

{% block body %}
    <h1 style="text-align:center">{{ name }}</h1>

    <table class="blueTable">
        <tbody>
        <tr>
            <th>Amount of votes</th>
            <td>{{ count }}</td>
        </tr>
        </tbody>
    </table>



    <a href="{{ path('concertsuser_show', { 'id': idConcert}) }}"><div id="div"><button class="btn btn-primary">Return</button></div></a>

{% endblock %}



