{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/contact.css' ) }}">
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>Send e-mail to other person</h1>
    {{ form_start(form) }}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="{{ path('main') }}"><button class="btn btn-dark" id="contact_comeback">Return</button></a>
    
    <script>
    setTimeout(function() {
    $('.flash-notice').fadeOut('fast');
    }, 2000);
    </script>
{% endblock %}
