{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/info.css' ) }}">
{% endblock %}

{% block body %}
    <header>
	  <h1>Data about profile </h1>
    </header>
<table class="blueTable">
<tbody>
	<tr>
		<td>Username : {{ username }}</td>
	</tr>
	<tr>
		{% for role in role %}
        <td>User role: {{ role }}</td>
		{% endfor %}
	</tr>
	<tr>
        <td>E-mail : {{ email }}</td>
	</tr>
        
</tbody>
</table>
<div id="center">
<a href="{{ path('main') }}" >
    <button id="size" class="btn btn-primary">Return</button>
</a>
</div>
{% endblock %}
