{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/mainpage.css' ) }}">
{% endblock %}


{% block body %}
    <header id="header">
        <h1>Concerts</h1>

    </header>
    <nav id="navigation">
        <ul>
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="/organiser">Organiser<img class="photo" src="assets\image\concert.png"/></a></li>
            {% endif %}
            <li><a href="/participant">Participant<img class="photo" src="assets\image\multiple.png"/></a></li>
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="/contact">Contact<img class="photo" src="assets\image\contact.png"/></a></li>
            {% endif %}
            <li id="rozwijane"><a href="#">Profil<img class="photo" src="assets\image\man-user.png"/></a>
                <ul>
                    <li><a href="/info">Info</a></li>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </li>
        </ul>
    </nav>

{% endblock %}
